.text-bold {
  font-weight: bold;
}
.notebook-buttons { 
  border-radius:0; 
  background-color:yellow; 
  color:black; 
  position:fixed; 
}
.notebook-buttons:hover {
  color: #f48024;
}
.submit-buttons { 
  top: 20%; 
  right:0%
}

.text-editor-input0 #editor {
  margin-top: 90px;
}

.fixed-toolbar {
  top: 160px;
}

.CodeFlask__pre {
  color:white;
}

.alert { 
  margin: 0;
  z-index:1000;
}
