<div class="stage" id="stage">
  <div class="block block-fill-height block-transparent block-angle app-block-chainz" id="chainz">
    <div class="block-bg-clip">
      <div class="block-bg">
        <div class="block-bg-img block-bg-img-top" style="background-image: url(img/notebook.jpg)">
        </div>
      </div>
    </div>

    <div class="block-sm-middle block-xs-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="block-title m-b-md">
              <span class="text-ribbon text-ribbon-primary">
                <span>What I Remember</span>
              </span>
            </h1>
            <p class="lead">
            <span class="text-ribbon text-ribbon-primary">
              <span>
                Ultra short notes for when you need them
              </span>
            </span>
            </p>
          </div>
          <div class = "col-sm-4 col-sm-offset-2">
            <div ng-if="!(user)">
              <button ui-sref="render-signup" type="button" class="btn btn-square btn-primary btn-lg btn-block">
                Signup now.
              </button>
              <button ui-sref="render-login" type="button" class="btn btn-square btn-primary btn-lg btn-block">
                Login otherwise.
              </button>
            </div>
            <button ng-if = "user" ng-click="logout()" class="btn btn-square btn-primary btn-lg btn-block">
              Logout
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
