<div class="stage" id="stage"> 
  <div class="container" ng-init="createTextEditors(); showNotebook(true)">
    <div class = "row">
      <div class="col-md-6 col-md-offset-3 col-xs-9">
        <h1>
          <input type="text" ng-model = "notebookData.title" class="h1 text-ribbon-input text-ribbon-input-half text-ribbon-primary" placeholder="Title">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-6 col-md-offset-3 col-xs-9" style="color:white">
        <div class = "text-editor-input"></div>
      </div>
      <div class = "col-xs-3">
        <button class = "notebook-buttons submit-buttons btn" ng-click="editNotebook()">Update</button>
      </div>
    </div>
  </div>
</div>
